body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#myVideo {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
}
.time {
    position: fixed;
    font-size: 35px;
}
.content {
    position: fixed;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.content a {
    margin: 0 0 30px 25px;
    text-decoration: none;
    padding: 5px;
    font-weight: 100;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid #797979;
    transition: .4s;
    height: 45px;
    box-sizing: border-box;
    line-height: 45px;
}
.content a:hover {
    border-bottom: 35px solid #797979;
}
svg{
    min-width: 300px;
    min-height: 100px;
    margin: 0 30px 20px auto;
}
text {
    filter: url(#filter);
    fill: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 165px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1024px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: space-between;
    }
    svg {
        margin: 70px auto 10px auto ;
    }
    .content a {
        font-size: 40px;
        margin: 30px;
    }
}
@media (max-width: 500px) {
    .content a {
        font-size: 35px;
        margin: 20px;
    }
}